<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daer.cloud.system.biz.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.daer.cloud.system.biz.model.SysRole">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_key" jdbcType="VARCHAR" property="roleKey"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select r.* from sys_role r left join sys_user_role ur on r.id=ur.role_id where r.del_flag=0 and ur.user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
        select r.id from sys_role r left join sys_user_role ur on r.id=ur.role_id where r.del_flag=0 and ur.user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectBySearch" resultMap="BaseResultMap">
        select * from sys_role where del_flag=0
        <if test="sysRoleDTO.roleName != null and sysRoleDTO.roleName != ''">
            and role_name like CONCAT('%',#{sysRoleDTO.roleName},'%')
        </if>
        <if test="sysRoleDTO.status != null and sysRoleDTO.status != ''">
            and status = #{sysRoleDTO.status,jdbcType=VARCHAR}
        </if>
        order by create_time desc
    </select>

</mapper>