<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daer.cloud.system.biz.mapper.SysRolePermsMapper">
    <resultMap id="BaseResultMap" type="com.daer.cloud.system.biz.model.SysRolePerms">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <id column="perms_code" jdbcType="VARCHAR" property="permsCode"/>
    </resultMap>
</mapper>